{% extends "base.html" %}
{% block title %}Check.ai - Home{% endblock %}
{% block head %}
{{ super() }}
<!-- Insert other stuff that goes in head here -->
{% endblock %}
{% block content %}
<div class="container">
    <img src="static/img/logo.png" class="responsive-img center" style="padding-top: 5%; margin-left: 5%">
    <div class="row center">
        <h5 class="header col s12 light">A better way to search for jobs.</h5>
    </div>
    <div class="row center">
        {% if signedIn %}
        <a class="waves-effect waves-light btn blue" href="preferences">View Profile</a>
        <a class="waves-effect waves-light btn blue" href="jobs" class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="Be sure to update your profile before!">View Jobs</a>
        {% else %}
        <a class="waves-effect waves-light btn blue" href="login">Log In</a>
        <a class="waves-effect waves-light btn blue" href="signup">Sign Up</a>
        {% endif %}


    </div>
</div>
{% endblock %}