{% extends "base.html" %}
{% block title %}Check.ai - Jobs{% endblock %}
{% block head %}
{{ super() }}
<!-- Insert other stuff that goes in head here -->
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            {% for i in range (0, num) %}
            <div class="card">
                <div class="card-content black-text">
                    <span class="card-title">{{jobs[i][0]}}</span>
                    <div class="summary">
                    	{% for sentence in summaries[i] %}
                      <h6>{{sentence}}</h6>
                      {% endfor %}
                  </div>
                  <div class="chip-container right-align">
                    {% for skill in match_skills[i] %}
                    <div class="chip">
                        {{skill}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card-action">
                <a target="_blank" href="{{jobs[i][1]}}">apply</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="static/js/utf8.js"> </script>
<script type="text/javascript" src="static/js/jobs.js"> </script>

{% endblock %}