{% extends "base.html" %}
{% block title %}Check.ai - Preferences{% endblock %}
{% block head %}
{{ super() }}
<!-- Insert other stuff that goes in head here -->
{% endblock %}
{% block content %}

<h1>Preferences</h1>

<form method="POST">
	<h5>Skills</h5>
    <fieldset>
    <div id="skillz">
        <div>
        <input type="text" name="skillz">
        </div>
    </div>
    </fieldset>
    <input type="button" value="+" onClick = "addInputs('skillz', 'text');">

	<h5>Exclusions</h5>
    <fieldset>
    <div id = "exclusions">
        <div>
        <input type="text" name="exclusions">
        </div>
    </div>
    </fieldset>
    <input type="button" value="+" onClick = "addInputs('exclusions', 'text');">
    
	<h5>Position Types</h5>
    <fieldset>
    <div id = "postype">
        <div>
        <input type="text" name="postype">
        </div>
    </div>
    </fieldset>
    <input type="button" value="+" onClick = "addInputs('postype', 'text');">
    
	<h5>Fields</h5>
    <fieldset>
    <div id = "fields">
        <div>
        <input type="text" name="fields">
        </div>
    </div>
    </fieldset>
    
    <input type="button" value="+" onClick = "addInputs('fields', 'text');">    
    
    <input type="submit" value="Update Preferences">
</form>

{% endblock %}

{% block javascript %}
	<script type=text/javascript src="/static/addInput.js"></script>
{% endblock %}
