{% extends "base.html" %}
{% block title %}Check.ai - Preferences{% endblock %}
{% block head %}
{{ super() }}
<!-- Insert other stuff that goes in head here -->
{% endblock %}
{% block content %}

<h1>Preferences</h1>

<form method="POST">
	<h5>Skills</h5>
    <fieldset>
    <div id="skillz">
	{% for skill in skill_list %}
	<div>
		<input type="text" name="skillz" value = {{ skill }}>
        </div>
	{% endfor %}
    </div>
    </fieldset>
    <input type="button" value="+" onClick = "addInputs('skillz', 'text');">

	<h5>Exclusions</h5>
    <fieldset>
    <div id = "exclusions">
	{% for exclusion in exclusion_list %}
	<div>
		<input type="text" name="exclusions" value = {{ exclusion }}>
        </div>
	{% endfor %}
    </div>
    </fieldset>
    <input type="button" value="+" onClick = "addInputs('exclusions', 'text');">
    
	<h5>Position Types</h5>
    <fieldset>
    <div id = "postype">
	{% for postype in postype_list %}
        <div>
		<input type="text" name="postype" value = {{ postype }}>
        </div>
	{% endfor %}
    </div>
    </fieldset>
    <input type="button" value="+" onClick = "addInputs('postype', 'text');">
    
	<h5>Fields</h5>
    <fieldset>
    <div id = "fields">
	{% for field in field_list %}
        <div>
		<input type="text" name="fields" value = {{ field }}>
        </div>
	{% endfor %}
    </div>
    </fieldset>
    
    <input type="button" value="+" onClick = "addInputs('fields', 'text');">    
    
    <input type="submit" value="Update Preferences">
</form>

{% endblock %}

{% block javascript %}
	<script type=text/javascript src="/static/addInput.js"></script>
{% endblock %}
