<!DOCTYPE HTML>
<html>
<script type=text/javascript src="/static/addInput.js"></script>

<h1>Preferences</h1>

<form method="POST">
    <fieldset>
    <div id="skillz">
        <div>
        <input type="text" name="skillz">
        </div>
    </div>
    </fieldset>
    <input type="button" value="+" onClick = "addInputs('skillz', 'text');">

    <fieldset>
    <div id = "exclusions">
        <div>
        <input type="text" name="exclusions">
        </div>
    </div>
    </fieldset>
    <input type="button" value="+" onClick = "addInputs('exclusions', 'text');">    
    
    <input type="submit" value="Update Preferences">
</form>

</html>
